* {
  margin: 0;
  padding: 0;
  font-family: "open sans";
}
.blockHouseLiquidityContainerr {
  background-color: #1e1e1e;
  overflow-x: hidden;
  background-image: url("./Images/liquidity/blockHouseBackground.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  margin: 0 auto;
}
.insidetopHeader {
  margin-right: -35px;
}
.insidetopHeader > .siderBarNavItemRightBox {
  margin-right: 18px;
  display: inline-block;
  width: 36px;
  height: 36px;
  border-radius: 6px;
  border: 1px solid rgba(255, 255, 255, 0.12);
  background: rgba(60, 62, 75, 0.24);
}

.topHeaderWalletBox {
  width: 172px !important;
  padding-top: 7px;
}
.topHeaderWalletBox span {
  display: flex;
  justify-content: space-between;
}
.topHeaderWalletIcon {
  padding-left: 10px;
}
.topHeaderWalletDropdown {
  padding-right: 10px;
}
.topHeaderWalletBox > span > span {
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  color: white;
  position: relative;
  top: 1px;
}

.siderBarLogo {
  width: 162px;
  height: 36px;
  position: relative;
  left: -60px;
}
.sideBarBoxItemsItemActive {
  background-color: rgba(255, 255, 255, 0.04) !important;
  /* border-top-right-radius: 8px !important; */
}
.sideBarBoxItemsItem {
  margin-top: 0px;
  width: 100%;
  max-height: 48px !important;
  min-height: 48px !important;
  padding-left: 20px !important;
  padding-right: 20px !important;
}
.tableHeadingTxt {
  letter-spacing: -1px;
  font-size: 30px !important;
  color: white;
}
.mainContainerSearchDiv {
  margin-top: 27px;
}

.mainContainerSearchDiv span {
  position: absolute;
  margin-top: 8px;
  margin-left: 8px;
}
.mainContainerSearchDiv input {
  width: 100%;
  height: 36px;
  background: rgba(255, 255, 255, 0.04);
  border-radius: 6px;
  border: none;
  padding-left: 40px;
  color: white;
  outline: none;
}
.liquidityTableLastRowFlexLeftItem > span {
  width: 159px;
  height: 30px;
  background: rgba(255, 255, 255, 0.04);
  border-radius: 5px;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 16px;
  padding: 6px 16px;
  position: relative;
  top: 20px;
  color: white;
  font-weight: bold;
  /* position: absolute; */
  margin-left: 0px;
  margin-top: -40px;
}
.width10Percent {
  width: 10% !important;
}
.customTxtForLiqTable {
  font-size: 15px;
  text-align: left;
  margin: 0;
  font-weight: bold;
}

.rightSearchBoxStructured {
  font-size: 14px;
  background: rgba(255, 255, 255, 0.04);
  border-radius: 6px;
  color: white;
  height: 38px;
  margin-top: 27px !important;
  padding-top: 6px;
  padding-left: 16px;
  font-weight: bold;
  width: 100%;
  text-align: start !important;
}
.rightSearchBoxStructured img {
  position: relative;
  right: -12px;
  top: 3px;
}
@media screen and (max-width: 1684px) {
  .inputSearchWidthMeida {
    max-width: 71.5% !important;
  }
}
@media screen and (max-width: 1600px) {
  .inputSearchWidthMeida {
    flex: 0 0 68% !important;
  }
  .mainContainerSearchDiv2 {
    flex: 0 0 10.5% !important;
    max-width: 10.5% !important;
  }
  .mainContainerSearchDiv3 {
    flex: 0 0 16.2% !important;
    max-width: 16.2% !important;
  }
}
@media screen and (max-width: 1500px) {
  .inputSearchWidthMeida {
    flex: 0 0 66% !important;
  }
  .mainContainerSearchDiv2 {
    flex: 0 0 11% !important;
    max-width: 11% !important;
  }
  .mainContainerSearchDiv3 {
    flex: 0 0 17.3% !important;
    max-width: 17.3% !important;
  }
}
@media screen and (max-width: 1408px) {
  .inputSearchWidthMeida {
    flex: 0 0 65% !important;
  }
  .rightSearchBoxStructured img {
    right: -5px;
    top: 7px;
  }
  .rightSearchBoxStructured {
    font-size: 13px;
    padding-top: 4px;
  }
}
